<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="apps/api/dist/index.js" verb="*" modules="iisnode" resourceType="File" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="BodylessRule" patternSyntax="ECMAScript">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^(GET|HEAD|DELETE|OPTIONS)$"/>
          </conditions>
          <action type="Rewrite" url="apps/api/dist/index.js"/>
        </rule>
        <rule name="RestRule" patternSyntax="ECMAScript" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="apps/api/dist/index.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      node_env="production" 
      nodeProcessCommandLine="node apps/api/dist/index.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      interceptor="iisnode-interceptor.js"
      />
  </system.webServer>
</configuration>
