<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AddAppServiceEnvironment" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app_service_handler" />
        </rule>
      </rules>
    </rewrite>
    
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\home\python\Scripts\gunicorn.exe --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 main:app" resourceType="Unspecified" />
    </handlers>
    
    <httpPlatform processPath="D:\home\python\Scripts\python.exe" arguments="-m uvicorn main:app --host 0.0.0.0 --port 8000" startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\python\Lib\site-packages" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
